<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroUsuario</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletRegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroCliente</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletRegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarCliente</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletBuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAbrirCuenta</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletAbrirCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarCuenta</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletBuscarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDepositar</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletDepositar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoCuentas</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletListadoCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarCuentaRet</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletBuscarCuentaRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRetirar</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletRetirar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoCuentasRet</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletListadoCuentasRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaCuentasClient</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletListaCuentasClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaMovCliente</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletListaMovCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAplicarIntereses</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletAplicarIntereses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarFav</servlet-name>
        <servlet-class>Proyecto1Progra4.servicios.ServletAgregarFav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/ServletInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroUsuario</servlet-name>
        <url-pattern>/ServletRegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroCliente</servlet-name>
        <url-pattern>/ServletRegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarCliente</servlet-name>
        <url-pattern>/ServletBuscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAbrirCuenta</servlet-name>
        <url-pattern>/ServletAbrirCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/ServletCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarCuenta</servlet-name>
        <url-pattern>/ServletBuscarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDepositar</servlet-name>
        <url-pattern>/ServletDepositar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoCuentas</servlet-name>
        <url-pattern>/ServletListadoCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarCuentaRet</servlet-name>
        <url-pattern>/ServletBuscarCuentaRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRetirar</servlet-name>
        <url-pattern>/ServletRetirar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoCuentasRet</servlet-name>
        <url-pattern>/ServletListadoCuentasRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaCuentasClient</servlet-name>
        <url-pattern>/ServletListaCuentasClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaMovCliente</servlet-name>
        <url-pattern>/ServletListaMovCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAplicarIntereses</servlet-name>
        <url-pattern>/ServletAplicarIntereses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarFav</servlet-name>
        <url-pattern>/ServletAgregarFav</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
