/* 
    Created on : 11/04/2020, 08:46:34 AM
    Author     : Josue
*/
body{
    background-image: url(imagenes/fondo3.jpeg);
    background-size: cover;
}
*{
    padding: 0px;
    margin: 0px;
}
#wrapper{
    width: 330px;
    background: #090909;
    color: #ffffff; /*color de letra*/
    margin: auto;
    margin-top: 1%; /*bajarlo de arriba hacia abajo*/
    padding: 40px 40px 40px 40px;
    border-top: 5px solid #141414;
    border-right: 5px solid #141414;
    border-left: 5px solid #141414;
    border-bottom: 5px solid #141414;
    border-radius: 6px;
    opacity: 0.9;
}
.entrada{
    width: 320px;
    height: 30px;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
#entradaRol{
    width: 50px;
    height: 30px;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-left: 42%; /*para moverlo a la derecha*/
}
#btnRegistrar{
    width: 324px;
    height: 40px;
    border-radius: 6px;
    background: #cc6600;
    color: #ffffff;
    font-size: 20px;
}
#btnRegistrar:hover{
    cursor: pointer;
}
#tituloForm{
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 10px;
}
#labelUsuario{
    font-family: calibri;
    font-size: 25px;
}
#labelClave{
    font-family: calibri;
    font-size: 25px;
}
#labelClaveVencida{
    font-family: calibri;
    font-size: 25px;
}
#labelRol{
    padding-left: 45%;
    font-family: calibri;
    font-size: 25px;
}

/* estilos para la ventana modal */

.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* animacion */
    animation: modal 1s 0.5s; /* nombre - duracion de la animacion - retras desde que carga la pagina*/
    animation-fill-mode: forwards; /* para que el elemento se quede aun cuando termine la animacion */
    visibility: hidden; /* para que el modal este oculto */
    opacity: 0;
}
.contenido{
    width: 40%;
    height: 40%;
    margin: auto;
    background: white;
    border-radius: 10px;
    z-index: 50;
}
#mensajeExito{
    color: #000;
    text-align: center;
    font-family: arial;
    font-weight: 600;
}
.mensajeInfo{
    font-weight: 700;
    color: #000;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 17px;
    font-family: arial;
}
#listaInfo{
    font-size: 17px;
    font-weight: 700;
    margin-left: 5%;
    color: #000;
    font-family: arial;
}
#cerrar{
    display: none;
}
#cerrar + label{ /* para seleccionar el elemento inmediato despues de cerrar (label) */
    position: fixed;
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 25px;
    z-index: 50; /* posicion en el eje z, para que la X este por encima del modal */
    background: red;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5%;
    right: 10px;
    cursor: pointer;
    /* animacion */
    animation: modal 0.5s 0.5s; /* nombre - duracion de la animacion - retras desde que carga la pagina*/
    animation-fill-mode: forwards; /* para que el elemento se quede aun cuando termine la animacion */
    visibility: hidden; /* para que el modal este oculto */
    opacity: 0;
}
#cerrar:checked + label, /* cuando el checkbox tenga check va a seleccionar el label */
#cerrar:checked ~ .modal{ /* cuando el checkbox tenga check va a seleccionar el modal */
    display: none; /* y ambos van a desaparecer */
}
@keyframes modal{
    100%{ /* cuando termine la animacion */
        visibility: visible;
        opacity: 1;
    }
}



